html, body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
}

.full-height, #root {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 30px; 
}